#left{
    float: left;
    width: 500px;
    height: 129px;
    margin: 5px;
    border: 5px solid blue;
}

#right{
    float: left;
    width: 500px;
    height: 129px;
    margin: 5px;
    border: 5px solid red;
}

#clippers{
    max-width: 500px;
}